# Unit 12 - Tales from the Crypto

---

## 1. Sentiment Analysis

Use the [newsapi](https://newsapi.org/) to pull the latest news articles for Bitcoin and Ethereum and create a DataFrame of sentiment scores for each coin.

Use descriptive statistics to answer the following questions:
1. Which coin had the highest mean positive score?
2. Which coin had the highest negative score?
3. Which coin had the highest positive score?

In [44]:
# Initial imports
import os
import pandas as pd
from dotenv import load_dotenv
import nltk as nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from dotenv import load_dotenv
load_dotenv(r"C:\Users\Jean-Pierre Koudifo\Dropbox (Global Language)\My PC (LAPTOP-BCAOEDAN)\Desktop\My API\.env")

%matplotlib inline

[nltk_data] Downloading package vader_lexicon to C:\Users\Jean-Pierre
[nltk_data]     Koudifo\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [45]:
# Read your api key environment variable
news_api_key = os.getenv("NEWS_API_KEY")

In [46]:
# Create a newsapi client
from newsapi import NewsApiClient
newsapi = NewsApiClient(api_key=news_api_key)

In [47]:
# Fetch the Bitcoin news articles
Bitcoin_headlines = newsapi.get_everything(
    q="Bitcoin",
    language="en",
    
)
# Print total articles
print(f"Total articles about Bitcoin: {Bitcoin_headlines['totalResults']}")

# Show sample article
Bitcoin_headlines["articles"][0]

Total articles about Bitcoin: 7277

{'source': {'id': 'bbc-news', 'name': 'BBC News'},
 'author': 'https://www.facebook.com/bbcnews',
 'title': "Indian PM Modi's Twitter hacked with bitcoin tweet",
 'description': "The Indian prime minister's account had a message stating that bitcoin would be distributed to citizens.",
 'url': 'https://www.bbc.co.uk/news/world-asia-india-59627124',
 'urlToImage': 'https://ichef.bbci.co.uk/news/1024/branded_news/5998/production/_122063922_mediaitem122063921.jpg',
 'publishedAt': '2021-12-12T10:59:57Z',
 'content': "Image source, AFP via Getty Images\r\nImage caption, Modi has has more than 70 million Twitter followers\r\nIndian Prime Minister Narendra Modi's Twitter account was hacked with a message saying India ha… [+854 chars]"}

In [48]:
# Fetch the Ethereum news articles
Ethereum_headlines= newsapi.get_everything(
    q="Ethereum",
    language="en"
    
)
# Print total articles
print(f"Total articles about Ethereum: {Bitcoin_headlines['totalResults']}")
Ethereum_headlines["articles"][0]

Total articles about Ethereum: 7277

{'source': {'id': 'the-verge', 'name': 'The Verge'},
 'author': 'Jacob Kastrenakes',
 'title': 'Almost buying a copy of the Constitution is easy, but giving the money back is hard',
 'description': 'ConstitutionDAO has refunded more than half of the contributions to its failed attempt to buy a rare copy of the US Constitution at auction. But high gas fees have cost more than $1.2 million so far.',
 'url': 'https://www.theverge.com/2021/11/24/22800995/constitutiondao-refund-progress-steep-gas-fees-cryptocurrency',
 'urlToImage': 'https://cdn.vox-cdn.com/thumbor/saEc_B14EZIKIVPp0q8KT-zxPlU=/0x125:1746x1039/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/23022988/constdao.jpg',
 'publishedAt': '2021-11-24T23:00:34Z',
 'content': 'More than $1.2 million has already been spent on gas fees\r\nOne of 13 remaining copies of the Official Edition of the Constitution.\r\nImage: Sothebys\r\nAs of last Thursday night, ConstitutionDAO found i… [+5262 chars]'}

In [49]:
# Create the Bitcoin sentiment scores DataFrame
Bitcoin_sentiments = []

for article in Bitcoin_headlines["articles"]:
    try:
        text = article["content"]
        
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        Bitcoin_sentiments.append({
            
            
            "Compound": compound,
            "Positive": pos,
            "Negative": neg,
            "Neutral": neu,
            "Text": text
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame
Bitcoin_df = pd.DataFrame(Bitcoin_sentiments)

# Reorder DataFrame columns
cols = ["Compound", "Positive", "Negative", "Neutral","Text"]
Bitcoin_df = Bitcoin_df[cols]

Bitcoin_df.head()

,Compound,Positive,Negative,Neutral,Text
0,-0.4019,0.000,0.078,0.922,"Image source, AFP via Getty Images\r\nImage ca..."
1,0.0000,0.000,0.000,1.000,The plant opening northeast of Niagara Falls t...
2,0.5106,0.099,0.000,0.901,"Earlier this year, Nothing released a pair of ..."
3,0.0000,0.000,0.000,1.000,"MIZATA, El Salvador/LONDON, Nov 22 (Reuters) -..."
4,0.4767,0.136,0.000,0.864,Posted \r\nAfter becoming the first country to...

In [50]:
# Create the Ethereum sentiment scores DataFrame
Ethereum_sentiments = []

for article in Ethereum_headlines["articles"]:
    try:
        text = article["content"]
        
        sentiment = analyzer.polarity_scores(text)
        compound = sentiment["compound"]
        pos = sentiment["pos"]
        neu = sentiment["neu"]
        neg = sentiment["neg"]
        
        Ethereum_sentiments.append({
            
            
            "Compound": compound,
            "Positive": pos,
            "Negative": neg,
            "Neutral": neu,
            "Text": text
            
        })
        
    except AttributeError:
        pass
    
# Create DataFrame
Ethereum_df = pd.DataFrame(Ethereum_sentiments)

# Reorder DataFrame columns
cols = ["Compound", "Positive", "Negative", "Neutral","Text"]
Ethereum_df = Ethereum_df[cols]

Ethereum_df.head()

,Compound,Positive,Negative,Neutral,Text
0,0.0000,0.000,0.000,1.000,More than $1.2 million has already been spent ...
1,0.6542,0.178,0.000,0.822,Ethereum has been on a tear this year. Its out...
2,-0.0516,0.074,0.079,0.847,Blockchain startup MonoX Finance said on Wedne...
3,-0.1531,0.000,0.045,0.955,"On Monday, Budweiser joined the non-fungible t..."
4,0.5106,0.099,0.000,0.901,"Earlier this year, Nothing released a pair of ..."

In [51]:
# Describe the Bitcoin Sentiment
Bitcoin_df.describe()

        Compound   Positive   Negative    Neutral
count  20.000000  20.000000  20.000000  20.000000
mean    0.081915   0.041850   0.017950   0.940200
std     0.319027   0.062576   0.032165   0.065789
min    -0.401900   0.000000   0.000000   0.791000
25%     0.000000   0.000000   0.000000   0.897750
50%     0.000000   0.000000   0.000000   0.947500
75%     0.463275   0.102250   0.015500   1.000000
max     0.526700   0.158000   0.080000   1.000000

In [52]:
# Describe the Ethereum Sentiment
Ethereum_df.describe()

        Compound   Positive   Negative    Neutral
count  20.000000  20.000000  20.000000  20.000000
mean    0.170450   0.060950   0.025450   0.913550
std     0.293212   0.055076   0.041952   0.075034
min    -0.584900   0.000000   0.000000   0.729000
25%     0.000000   0.000000   0.000000   0.872500
50%     0.176350   0.072000   0.000000   0.923500
75%     0.386825   0.084750   0.052500   0.967750
max     0.654200   0.178000   0.115000   1.000000

### Questions:

Q: Which coin had the highest mean positive score?

A: 

Q: Which coin had the highest compound score?

A: 

Q. Which coin had the highest positive score?

A:

In [ ]:
# Question responses on the Summarary Read me.

---

## 2. Natural Language Processing
---
###   Tokenizer

In this section, you will use NLTK and Python to tokenize the text for each coin. Be sure to:
1. Lowercase each word.
2. Remove Punctuation.
3. Remove Stopwords.

In [54]:
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer, PorterStemmer
from string import punctuation
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Jean-Pierre
[nltk_data]     Koudifo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
# Instantiate the lemmatizer
lemmatizer = WordNetLemmatizer()

# Create a list of stopwords
def process_text(doc):
    sw = set(stopwords.words('english'))
    regex = re.compile("[^a-zA-Z ]")
    re_clean = regex.sub('', doc)
    words = word_tokenize(re_clean)
    lem = [lemmatizer.lemmatize(word) for word in words]
    output = [word.lower() for word in lem if word.lower() not in sw]
    return ' '.join(output)

# Expand the default stopwords list if necessary
# YOUR CODE HERE!

In [12]:
# Complete the tokenizer function
def tokenizer(text):
    """Tokenizes text."""
    
    # Remove the punctuation from text

   
    # Create a tokenized list of the words
    
    
    # Lemmatize words into root words

   
    # Convert the words to lowercase
    
    
    # Remove the stop words
    
    
    return tokens

In [13]:
# Create a new tokens column for Bitcoin
# YOUR CODE HERE!

In [14]:
# Create a new tokens column for Ethereum
# YOUR CODE HERE!

---

### NGrams and Frequency Analysis

In this section you will look at the ngrams and word frequency for each coin. 

1. Use NLTK to produce the n-grams for N = 2. 
2. List the top 10 words for each coin.

In [15]:
from collections import Counter
from nltk import ngrams

In [16]:
# Generate the Bitcoin N-grams where N=2
# YOUR CODE HERE!

In [17]:
# Generate the Ethereum N-grams where N=2
# YOUR CODE HERE!

In [18]:
# Function token_count generates the top 10 words for a given coin
def token_count(tokens, N=3):
    """Returns the top N tokens from the frequency count"""
    return Counter(tokens).most_common(N)

In [19]:
# Use token_count to get the top 10 words for Bitcoin
# YOUR CODE HERE!

In [20]:
# Use token_count to get the top 10 words for Ethereum
# YOUR CODE HERE!

---

### Word Clouds

In this section, you will generate word clouds for each coin to summarize the news for each coin

In [21]:
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import matplotlib as mpl
mpl.rcParams['figure.figsize'] = [20.0, 10.0]

In [22]:
# Generate the Bitcoin word cloud
# YOUR CODE HERE!

In [23]:
# Generate the Ethereum word cloud
# YOUR CODE HERE!

---
## 3. Named Entity Recognition

In this section, you will build a named entity recognition model for both Bitcoin and Ethereum, then visualize the tags using SpaCy.

In [24]:
import spacy
from spacy import displacy

In [25]:
# Download the language model for SpaCy
# !python -m spacy download en_core_web_sm

In [26]:
# Load the spaCy model
nlp = spacy.load('en_core_web_sm')

---
### Bitcoin NER

In [27]:
# Concatenate all of the Bitcoin text together
# YOUR CODE HERE!

In [28]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [29]:
# Render the visualization
# YOUR CODE HERE!

In [30]:
# List all Entities
# YOUR CODE HERE!

---

### Ethereum NER

In [31]:
# Concatenate all of the Ethereum text together
# YOUR CODE HERE!

In [32]:
# Run the NER processor on all of the text
# YOUR CODE HERE!

# Add a title to the document
# YOUR CODE HERE!

In [33]:
# Render the visualization
# YOUR CODE HERE!

In [34]:
# List all Entities
# YOUR CODE HERE!

---